In [3]:
import pandas as pd

In [4]:
data = [1, 2, 3, 4, 5]

In [5]:
s = pd.Series(data)

In [6]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [10]:
s =pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [11]:
data = {'Linha' + str(i) : i + 1 for i in range(5) }

In [12]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [13]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [14]:
s2 =  s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

In [16]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [17]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [18]:
index = ['Linha' + str(i) for i in range(3)]

In [19]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [20]:
columns = ['Coluna' + str(i) for i in range(3)]

In [21]:
df2 = pd.DataFrame(data = data, index = index, columns = columns)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [22]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [23]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [24]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9